.App {
  text-align: center;
}

.App .SignIn-container,
.App .SignUp-container {
  display: flex;
}

@media (max-width: 700px) {
  .App .SignIn-container,
  .App .SignUp-container {
    flex-direction: column-reverse;
  }

  .switcher {
    width: 130px;
    margin: auto;
    margin-bottom: 40px;
    line-height: 30px;
  }

  .anchor {
    margin-top: 8px;
  }
}

label {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  display: flex;
  align-items: center;
  color: #afafaf;

  margin-top: 20px;
  margin-bottom: 8px;
}

.question {
  color: #afafaf;
}

option {
  color: black;
}

.anchor {
  cursor: pointer;
}

button {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

input,
select {
  padding-left: 12px;
}

::placeholder,
select {
  background-color: white;
  color: #dbdbdb;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
